<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Hello Chess</title>
    <script type="text/javascript" src="../static/js/chessboard-0.3.0.js"></script>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <link rel="stylesheet" href="../static/css/chessboard-0.3.0.css">
    <link rel="stylesheet" type="text/css" href="../static/css/chichess.css">
</head>
<body>
    <div id="chichess" class="board-chi" style="width: 558px">
        <div v-for="r in ROW" >
            <div v-for="c in COL" class="square-chi" style="width: 62px; height: 62px;">
                <span class="helper-chi"></span>
                <img :src="pics[map[(90 - 10*r + c).toString()]]" v-if="map.hasOwnProperty((90 - 10*r + c).toString())" class="img-piece" style="width: 52px; height: 52px;">
            </div>
            <div class="clearfix-chi"></div>
        </div>
    </div>

    <!-- <div id="board" style="width: 500px"></div>
    <script>
        var board = ChessBoard('board', 'start');
    </script> -->
    <script type="text/javascript" src="../static/js/chichess.js"></script>
</body>
</html>